.contact {
  text-align: center;
}

.contact__title {
  margin-bottom: 16px;
  color: #2e2520;
  font-family: 'Caveat Brush';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.contact__text {
  margin-bottom: 16px;
  color: #2e2520;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.contact__field {
  &:focus-within > .contact__input {
    border-color: transparent;
  }
}

.contact__label {
  border-bottom: 1px solid #ab816c;
}

.contact__input {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  min-width: 280px;
  height: 20px;
  color: rgba(171, 129, 108, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: transparent;

  &::placeholder {
    color: rgba(171, 129, 108, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
}

.contact__btn {
  margin-top: 32px;
  padding: 9px 57px;
  color: #ffffff;
  background: #ab816c;
  cursor: pointer;
  font-family: 'Caveat Brush';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  border-radius: 25px;
  border: none;
}
