.page-header {
  padding-top: 8px;
}

.container__page-header {
  position: relative;
}

.logo {
  display: block;
  width: 96px;
  height: 44px;
  margin: 0px auto 31px auto;
}

.header__image {
  position: absolute;
  top: -58px;
  left: -27px;
  z-index: -1;
  width: 130px;
}