.page-header {
  padding-top: 8px;
}

.container__page-header {
  position: relative;
  min-width: $mobile;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
}

.logo {
  display: block;
  width: 96px;
  height: 44px;
  margin: 0px auto 31px auto;
}

.menu-button {
  position: absolute;
  top: -4px;
  right: 15px;
  border: none;
  padding: 12px 5px;
  background-color: transparent;
  cursor: pointer;
  color: currentColor;
}

.header__image {
  position: absolute;
  top: -58px;
  left: -27px;
  z-index: -1;
  width: 130px;
}

.header__title {
  font-family: $fontFamilyTitle;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.266;
  text-align: center;
  margin-bottom: 8px;
}

.header__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 32px;
}

.header__button {
  margin: 0px auto 40px auto;
}
