.logo {
  &__menu {
    width: 190px;
    height: 85px;
  }
}

.logo {
  display: block;
  width: 96px;
  height: 44px;
  margin: 0px auto 31px auto;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin: 0px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;
    width: 158px;
    height: 81px;
    margin-right: 162px;
  }
}
