.program {
  padding-bottom: 20px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 77px;
  }
}

.wrap {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.column {
  @media screen and (min-width: $tablet) {
    max-width: 336px;
    margin-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 392px;
    margin-right: 0;
  }
}

.program__title {
  margin-bottom: 8px;

  font-family: $fontFamilyTitle;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;

  @media screen and (max-width: $desktop) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.81;
  }
}

.program__item {
  position: relative;
}

.program__list {
  margin-bottom: 16px;
}

.program__text {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.25;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.22;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.program__text--visible {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  @media screen and (min-width: $desktop) {
    opacity: 1;
    position: unset;
  }

  &.is-open {
    opacity: 1;
    position: unset;
  }
}

.program__button {
  margin-bottom: 20px;
  padding: 0;

  font-family: $fontFamilyTitle;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  color: $btnColorPrimary;
  background-color: transparent;
  border: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $fontColorAccent;
  }

  &:active {
    color: #674d40;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.donut {
  display: flex;
  justify-content: center;
}

.donut__list {
  margin-right: 20px;

  @media screen and (min-width: 480px) {
    margin-right: 60px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 33px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 140px;
    margin-left: 142px;
  }
}

.donut__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 130px;
  height: 170px;

  &:nth-child(2) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 188px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
    height: 220px;
    margin-bottom: 40px;
  }

  &::before {
    content: '';
    background-image: url(../images/program/donut-97.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 77px;
    height: 80px;
    position: absolute;
    bottom: 85px;
    left: 25px;

    @media screen and (min-width: $tablet) {
      width: 82px;
      height: 90px;
      left: 35px;
      bottom: 98px;
    }

    @media screen and (min-width: $desktop) {
      width: 97px;
      height: 107px;
      left: 41px;
      bottom: 116px;
    }

    @media screen and (min-width: $desktop) {
      & {
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../images/program/donut@2x-97.png');
        }
      }
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/program/donut2-97.png);
    width: 76px;
    bottom: 95px;

    @media screen and (min-width: $tablet) {
      width: 74px;
      height: 82px;
      left: 39px;
      bottom: 104px;
    }

    @media screen and (min-width: $desktop) {
      width: 88px;
      height: 97px;
      left: 46px;
      bottom: 123px;
    }

    @media screen and (min-width: $desktop) {
      & {
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../images/program/donut2@2x-97.png');
        }
      }
    }
  }
}

.donut__item--background {
  &:nth-child(1)::before {
    background-image: url(../images/program/donut3-97.png);
    width: 75px;

    @media screen and (min-width: $tablet) {
      width: 69px;
      height: 77px;
      left: 40px;
      bottom: 102px;
    }

    @media screen and (min-width: $desktop) {
      width: 97px;
      height: 107px;
      left: 48px;
      bottom: 123px;
    }

    @media screen and (min-width: $desktop) {
      & {
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../images/program/donut3@2x-97.png');
        }
      }
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/program/donut4-97.png);
    width: 74px;

    @media screen and (min-width: $tablet) {
      width: 70px;
      height: 78px;
      left: 41px;
      bottom: 104px;
    }

    @media screen and (min-width: $desktop) {
      width: 83px;
      height: 92px;
      left: 49px;
      bottom: 123px;
    }

    & {
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/program/donut4@2x-97.png');
      }
    }
  }
}

.donut__forma {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #fef3e4;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 152px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
    height: 180px;
  }
}

.donut__title {
  font-family: $fontFamilyTitle;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  color: $colorBlack;
  margin-bottom: 4px;

  .donut__item:last-child & {
    margin-bottom: 14px;
  }

  @media screen and (min-width: $tablet) {
    .donut__item:first-child & {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.25;

    .donut__item:first-child & {
      margin-bottom: 16px;
    }

    .donut__item:last-child & {
      margin-bottom: 16px;
    }
  }
}

.donut__text {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: $colorBlack;
  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.donut__icons {
  margin-bottom: 10px;
  fill: #674d40;

  @media screen and (min-width: $tablet) {
    width: 21px;
    height: 21px;

    .donut__item:first-child & {
      margin-bottom: 19px;
    }

    .donut__item:last-child & {
      margin-bottom: 14px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 25px;
    height: 25px;
    .donut__item:first-child & {
      margin-bottom: 16px;
    }

    .donut__item:last-child & {
      margin-bottom: 16px;
    }
  }
}
.donut__list--second {
  margin-top: 30px;

  @media screen and (min-width: $tablet) {
    margin-top: 50px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 125px;
  }
}
