.program {
  padding-bottom: 50px;
}

.wrap {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.column {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 336px;
  }
}

.program__title {
  margin-bottom: 8px;

  font-family: $fontFamilyTitle;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.program__item {
  position: relative;
}

.program__list {
  margin-bottom: 16px;
}

.program__text {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.25;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__text--visible {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  &.is-open {
    opacity: 1;
    position: unset;
  }
}

.program__button {
  margin-bottom: 20px;
  padding: 0;

  font-family: $fontFamilyTitle;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  color: $btnColorPrimary;
  background-color: transparent;
  border: transparent;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.donut {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    justify-content: space-around;
  }

  @media screen and (min-width: $tablet) {
    width: 100%;
    justify-content: space-around;
  }
}

.donut__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 130px;
  height: 165px;

  &:nth-child(2) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
  }

  &::before {
    content: '';
    background-image: url(../images/donut-77.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 77px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 25px;

    @media screen and (min-width: $tablet) {
      background-image: url(../images/donut-80.png);
      width: 82px;
      height: 90px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/donut@2x-77.png');
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/donut2-77.png);
    width: 78px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/donut2@2x-77.png');
    }

    @media screen and (min-width: $tablet) {
      background-image: url(../images/donut2-80.png);
      width: 74px;
      height: 82px;
    }
  }
}

.donut__item--background {
  &:nth-child(1)::before {
    background-image: url(../images/donut3-77.png);
    width: 75px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/donut3@2x-77.png');
    }

    @media screen and (min-width: $tablet) {
      background-image: url(../images/donut3-80.png);
      width: 69px;
      height: 77px;
    }
  }

  &:nth-child(2)::before {
    background-image: url(../images/donut4-77.png);
    width: 74px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/donut4@2x-77.png');
    }

    @media screen and (min-width: $tablet) {
      background-image: url(../images/donut4-80.png);
      width: 70px;
      height: 78px;
    }
  }
}

.donut__forma {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #fef3e4;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  @media screen and (min-width: $tablet) {
    width: 152px;
    height: 152px;
  }
}

.donut__title {
  font-family: $fontFamilyTitle;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;

  color: $colorBlack;
  margin-bottom: 4px;

  @media screen and (min-width: $tablet) {
    .donut__item:first-child & {
      margin-bottom: 8px;
    }

    .donut__item:last-child & {
      margin-bottom: 14px;
    }
  }
}

.donut__text {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: $colorBlack;
  margin-bottom: 8px;
}

.donut__icons {
  margin-bottom: 10px;
  fill: #674d40;

  @media screen and (min-width: $tablet) {
    width: 21px;
    height: 21px;

    .donut__item:first-child & {
      margin-bottom: 19px;
    }

    .donut__item:last-child & {
      margin-bottom: 14px;
    }
  }
}
.donut__list--second {
  transform: translateY(30px);

  @media screen and (min-width: $tablet) {
    transform: translateY(50px);
  }
}
