// Fonts
$fontFamilyPrimary: "Montserrat", normal;
$fontfamilyitalic: "Montserrat", italic;
$fontFamilyTitle: "Caveat Brush";

// Text colors
$fontColorPrimary: #2e2520;
$fontColorSecondary: #ab816c;
$fontColorAccent: #876655;
$fontColorPlaceholder: #ab816c80;

// Background colors
$bgColorPrimary: #fffff9;
$bgColorSecondary: #fef3e4;
$bgColorMenu: rgba(254, 243, 228, 0.9);

// Icon fill
$iconColorPrimary: #2e2520;
$iconColorMark: #ab816c;

// Button color
$btnColorPrimary: #ab816c;

// Another colors
$colorWhite: #ffffff;
$colorBlack: #000000;