<section class="contact">
  <h2 class="contact__title">Contact</h2>
  <p class="contact__text">We will answer any question!</p>
  <p class="contact__field">
    <label class="contact__label">
      <input
        class="contact__input"
        type="email"
        name="mail"
        placeholder="Email"
      />
    </label>
  </p>
  <p class="contact__field">
    <label class="contact__label">
      <input
        class="contact__input"
        type="text"
        name="question"
        placeholder="Type your question"
      />
    </label>
  </p>
  <button class="contact__button" type="submit">Send</button>
</section>
