
<footer>
    <section>
        <div class="container ">
            <div class="socials">
                <ul>
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <svg class="socials__icon">
                                <use href="./images/symbol-defs.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <svg class="socials__icon">
                                <use href="./images/symbol-defs.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="" class="socials__link">
                            <svg class="socials__icon">
                                <use href="./images/symbol-defs.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contacts-footer" >
                <div>
                <svg class="phone-icon">
                    <use href="./images/symbol-defs.svg#phone"></use>
                </svg>
                <a class="contacts-footer__link" href="">(910)222-8855</a>
                    </div>
                <div>
                <svg class="location-icon">
                    <use href="./images/symbol-defs.svg#location"></use>
                </svg>
                <a class="contacts-footer__link" href="">New York</a>
                </div>
            </div>
        </div>
    </section>
</footer>