
<footer>
    <section>
    <div class="container ">
        <div>
            <ul class="footer-socials">
                <li class="footer-socials__item">
                    <a href="" class="footer-socials__link">
                        <svg class="footer-socials__icon">
                            <use href="./images/symbol-defs.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials__item">
                    <a href="" class="footer-socials__link">
                        <svg class="footer-socials__icon">
                            <use href="./images/symbol-defs.svg#instagram"></use>
                        </svg>
                    </a>
                    </li>
                <li class="footer-socials__item">
                    <a href="" class="footer-socials__link">
                        <svg class="footer-socials__icon">
                            <use href="./images/symbol-defs.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="contacts-footer">
            <address>
                <a class="contacts-footer__link" href="">
                <svg class="contacts-footer__phone-icon">
                        <use href="./images/symbol-defs.svg#phone"></use>
                    </svg>
                    (910)222-8855</a>
                </div>
            <div>
                <a class="contacts-footer__link" href="">
                    <svg class="contacts-footer__location-icon">
                        <use href="./images/symbol-defs.svg#location"></use>
                    </svg>
                    New York</a>
            </address>
        </div>
    </div>
</section>
</footer>