<header class="page-header">
  <div class="container">
    <div class="header__inner">
      <a href="#">
        <svg class="logo">
          <use href="./images/symbol-defs.svg#logo-tablet"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav__list nav__list--header">
          <li class="nav__item">
            <a data-goto="idAbout-us" class="nav__link" href="#idAbout-us"
              >About us</a
            >
          </li>
          <li class="nav__item">
            <a data-goto="idProgram" class="nav__link" href="#idProgram"
              >Program</a
            >
          </li>
          <li class="nav__item">
            <a data-goto="idReviews" class="nav__link" href="#idReviews"
              >Reviews</a
            >
          </li>
          <li class="nav__item">
            <a data-goto="idContacts" class="nav__link" href="#idContacts"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>
      <button class="menu-button" DATA-BURGER>
        <span class="burger"></span>
      </button>
    </div>
    <div class="header__wrap">
      <h1 class="header__title">Donut Masterclass with the Donut King</h1>
      <h2 class="header__subtitle">Hosted by Eva Green</h2>
      <a class="header__link" href="#idregistration">Register</a>
      <div class="social-links">
        <ul class="list">
          <li class="social-links__item">
            <a href="#" class="social-links__button">
              <svg class="social-links__icon">
                <use href="./images/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="#" class="social-links__button">
              <svg class="social-links__icon">
                <use href="./images/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="#" class="social-links__button">
              <svg class="social-links__icon">
                <use href="./images/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <img
    class="header__image"
    srcset="
      ./images/header/header_mobile.png      132w,
      ./images/header/header_mobile@2x.png   264w,
      ./images/header/header_tab.png         380w,
      ./images/header/header_tab@2x.png      760w,
      ./images/header/header_desktop.png     795w,
      ./images/header/header_desktop@2x.png 1590w
    "
    src="./images/header/header_mobile.png"
    alt="Donuts"
    sizes="(min-width: 1280px) 795px, (min-width: 768px) 380px, (min-width: 320px) 132px"
  />
</header>
