<header class="page-header">
    <div class="container container__page-header">
        <a href id="main-page" >
            <svg class="logo">
                <use href="./images/symbol-defs.svg#logo-tablet"></use>
            </svg>
        </a>
        <thumb>
            <img class="header__image" 
                srcset="./images/header_mobile.jpg 130w,
                          ./images/header_mobile@2x.jpg 260w"
                src="./images/header_mobile.jpg"
                alt="Donuts"
                sizes="(min-width: 768px) 378px, (min-width: 320px) 130px">
        </thumb>
        <nav class="navigation"></nav>
        <h1>Donut Masterclass
        with the Donut King</h1>
        <h2>Hosted by Eva Green</h2>
        <button>Register</button>
        <div class="social-links">
            <ul class="list">
                <li class="social-links__item">
                    <button class="social-links__button">
                        <svg class="social-links__icon">
                            <use href="./images/symbol-defs.svg#twitter"></use>
                        </svg>
                    </button>
                </li>
                <li class="social-links__item">
                    <button class="social-links__button">
                        <svg class="social-links__icon">
                            <use href="./images/symbol-defs.svg#instagram"></use>
                        </svg>
                    </button>
                </li>
                <li class="social-links__item">
                    <button class="social-links__button">
                        <svg class="social-links__icon">
                            <use href="./images/symbol-defs.svg#facebook"></use>
                        </svg>
                    </button>
                </li>
        </div>    
    </div>
</header>