<div class="mobile is-hidden" data-mobile>
  <div class="menu container">
    <button type="button" class="menu__close" data-mobile-close>
      <svg class="menu__close--x">
        <use href="./images/symbol-defs.svg#close-burger"></use>
      </svg>
    </button>
    <a href="" class="menu__logo">
      <svg class="logo__menu">
        <use href="./images/symbol-defs.svg#logo-menu"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="#">About us</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Program</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Reviews</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
      </ul>
    </nav>
  </div>
</div>
