<div class="mobile is-hidden" data-mobile>
  <div class="menu container">
    <a href="#" class="menu__logo">
      <svg class="logo__menu">
        <use href="./images/symbol-defs.svg#logo-menu"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list" DATA-NAVIGATION>
        <li class="nav__item">
          <a data-goto="idAbout-us" class="nav__link" href="#idAbout-us">About us</a>
        </li>
        <li class="nav__item">
          <a data-goto="idProgram" class="nav__link" href="#idProgram">Program</a>
        </li>
        <li class="nav__item">
          <a data-goto="idReviews" class="nav__link" href="#idReviews">Reviews</a>
        </li>
        <li class="nav__item">
          <a data-goto="idContacts" class="nav__link" href="#idContacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
  
</div>