<section id="idProgram" class="program">
    <div class="container wrap">
        <div class="column">
            <h2 class="program__title">Program</h2>
            <ul class="program__list">
                <li class="program__item">
                    <p class="program__text">Indulge in this immersive sweet treat experience with The Chef Donut Queen
                        in her New
                        York donut shop!</p>
                    <p class="program__text">> A stand up history of donuts</p>
                    <p class="program__text">> Make 3 donut flavors of your choice</p>
                    <p class="program__text">> Enjoy all-you-can-eat donuts</p>
                    <p class="program__text">> Cocktail pairings and coffee included</p>
                    <p class="program__text">> Photoshoot by professional photographer</p>
                    <p class="program__text">> Secret receipt of cooking from Eva</p>
                    <p class="program__text">> All products are included in the price</p>
                    <p class="program__text program__text--visible">Come with your dear people and friends
                        and you will spend an unforgettable time and
                        will become a real professional in donuts cooking!</p>
                </li>
            </ul>

            <button class="program__button" type="button">Read more</button>
        </div>

        <div class="donut">
            <ul class="donut__list">
                <li class="donut__item">
                    <div class="donut__forma">
                        <h3 class="donut__title">Type of the event</h3>
                        <p class="donut__text">Cooking classes</p>
                        <svg class="donut__icons" width="19px" height="19px">
                            <use href="./images/symbol-defs.svg#chef-hat"></use>
                        </svg>
                    </div>
                </li>

                <li class="donut__item">
                    <div class="donut__forma">
                        <h3 class="donut__title">Time of the event</h3>
                        <p class="donut__text">18:30 (2.5 hours)</p>
                        <svg class="donut__icons" width="19px" height="19px">
                            <use href="./images/symbol-defs.svg#clock"></use>
                        </svg>
                    </div>
                </li>
            </ul>
            <ul class="donut__list--second">
                <li class="donut__item donut__item--background">
                    <div class="donut__forma">
                        <h3 class="donut__title">Number of guests</h3>
                        <p class="donut__text">1 to 20</p>
                        <svg class="donut__icons" width="19px" height="19px">
                            <use href="./images/symbol-defs.svg#people"></use>
                        </svg>
                    </div>
                </li>
                <li class="donut__item donut__item--background">
                    <div class="donut__forma forma">
                        <h3 class="donut__title">The host speaks</h3>
                        <p class="donut__text">English, French</p>
                        <svg class="donut__icons" width="19px" height="19px">
                            <use href="./images/symbol-defs.svg#chat"></use>
                        </svg>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>