<section class="container">
  <h2 class="form__caption">Registration</h2>
  <div class="form">
    <h2 class="form__title">Registration</h2>
    <div class="form__info">
      <p class="form__location">May 23, 11:00 New York</p>
      <span class="form__price">&dollar; 699</span>
    </div>
    <div>
      <p class="form__text">
        Apply your personal info <br />
        for registration
      </p>
      <form class="form__form">
        <div class="form__figuration">
          <label>
            <input
              class="form__input"
              type="text"
              name="username"
              placeholder="Your name"
            />
          </label>
        </div>
        <div class="form__figuration">
          <label>
            <input
              class="form__input"
              type="tel"
              name="phone-namber"
              placeholder="Phone number"
            />
          </label>
        </div>

        <div class="form__figuration">
          <label>
            <input
              class="form__input"
              type="email"
              name="email"
              placeholder="Email"
            />
          </label>
        </div>
      </form>
    </div>
    <button class="form__button" type="submit">Register</button>
  </div>
</section>
