<section id="idReviews" class="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item behind__first">
        <img
          src="./images/reviews/daniil-onischenko.png"
          alt="Photo John"
          srcset="
            ./images/reviews/daniil-onischenko.png    1x,
            ./images/reviews/daniil-onischenko@2x.png 2x
          "
          class="reviews__photo"
        />
        <ul class="checkbox">
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__label">John</h3>
        <!-- <article>
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article> -->
      </li>
      <li class="reviews__item facial">
        <img
          src="./images/reviews/behrouz-sasani.png"
          alt="Photo Will"
          srcset="
            ./images/reviews/behrouz-sasani.png    1x,
            ./images/reviews/behrouz-sasani@2x.png 2x
          "
          class="reviews__photo facial"
        />
        <ul class="checkbox">
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__label">Will</h3>
        <article class="reviews__text">
          <p>Last time I have visited a cooking course by Eva</p>
          <p>I was impressed with the way she explained everything</p>
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen!
          <p>
            Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!
          </p>
        </article>
      </li>

      <li class="reviews__item behind__third">
        <img
          src="./images/reviews/girl.png"
          alt="Photo Elisabeth"
          srcset="./images/reviews/girl.png 1x, ./images/reviews/girl@2x.png 2x"
          class="reviews__photo"
        />
        <ul class="checkbox">
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
          <li class="checkbox__item">
            <svg class="checkbox__icon">
              <use
                href="./images/symbol-defs.svg#star-no-check"
                widht="24px"
                height="24px"
              ></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__label">Elisabeth</h3>
        <!-- <article>
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article> -->
      </li>
    </ul>
  </div>
</section>
