<section id="idReviews" class="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item behind__first">
        <picture>
          <source media="(max-width: 767px)" srcset="
              ./images/reviews/daniil-onischenko-mobile.png   1x,
              ./images/reviews/daniil-onischenko-mobile2x.png 2x
            " type="image/jpeg" />
          <source media="(max-width: 1279px)" srcset="
              ./images/reviews/daniil-onischenko-tablet.png   1x,
              ./images/reviews/daniil-onischenko-tablet2x.png 2x
            " type="image/jpeg" />
          <source media="(min-width: 1280px)" srcset="
              ./images/reviews/daniil-onischenko.png   1x,
              ./images/reviews/daniil-onischenko2x.png 2x
            " type="image/jpeg" />
          <img src="./images/reviews/daniil-onischenko-mobile.png" alt="Photo John" srcset="
              ./images/reviews/daniil-onischenko-mobile.png   1x,
              ./images/reviews/daniil-onischenko-mobile2x.png 2x
            " class="reviews__photo" />
        </picture>
        <ul class="rating">
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-no-check"></use>
            </svg>
          </li>
        </ul>

        <article>
          <h3 class="reviews__label">John</h3>
          <div class="reviews__text" hidden>
            <p>Last time I have visited a cooking course by Eva</p>
            <p>I was impressed with the way she explained everything</p>
            to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen!
            <p>
              Thank you so much for the masterclass! Looking forward to the next
              one and highly recommend it to everyone!
            </p>
          </div>
        </article>
      </li>

      <li class="reviews__item facial">
        <picture>
          <source media="(max-width: 767px)" srcset="
              ./images/reviews/behrouz-sasani-mobile.png   1x,
              ./images/reviews/behrouz-sasani-mobile2x.png 2x
            " type="image/jpeg" />
          <source media="(max-width: 1279px)" srcset="
              ./images/reviews/behrouz-sasani-tablet.png   1x,
              ./images/reviews/behrouz-sasani-tablet2x.png 2x
            " type="image/jpeg" />
          <source media="(min-width: 1280px)" srcset="
              ./images/reviews/behrouz-sasani.png   1x,
              ./images/reviews/behrouz-sasani2x.png 2x
            " type="image/jpeg" />
          <img src="./images/reviews/behrouz-sasani-mobile.png" alt="Photo Will" srcset="
              ./images/reviews/behrouz-sasani-mobile.png   1x,
              ./images/reviews/behrouz-sasani-mobile2x.png 2x
            " class="reviews__photo facial" />
        </picture>
        <ul class="rating">
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
        </ul>

        <article>
          <h3 class="reviews__label">Will</h3>
          <div class="reviews__text">
            <p>Last time I have visited a cooking course by Eva</p>
            <p>I was impressed with the way she explained everything</p>
            to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen!
            <p>
              Thank you so much for the masterclass! Looking forward to the next
              one and highly recommend it to everyone!
            </p>
          </div>
        </article>
      </li>

      <li class="reviews__item behind__third">
        <picture>
          <source media="(max-width: 767px)" srcset="
              ./images/reviews/girl-mobile.png   1x,
              ./images/reviews/girl-mobile2x.png 2x
            " type="image/jpeg" />
          <source media="(max-width: 1279px)" srcset="
              ./images/reviews/girl-tablet.png   1x,
              ./images/reviews/girl-tablet2x.png 2x
            " type="image/jpeg" />
          <source media="(min-width: 1280px)" srcset="
              ./images/reviews/girl.png   1x,
              ./images/reviews/girl2x.png 2x
            " type="image/jpeg" />
          <img src="./images/reviews/girl-mobile.png" alt="Photo Elisabeth" srcset="
              ./images/reviews/girl-mobile.png   1x,
              ./images/reviews/girl-mobile2x.png 2x
            " class="reviews__photo" />
        </picture>
        <ul class="rating">
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check"></use>
            </svg>
          </li>
        </ul>

        <article>
          <h3 class="reviews__label">Elisabeth</h3>
          <div class="reviews__text" hidden>
            <p>Last time I have visited a cooking course by Eva</p>
            <p>I was impressed with the way she explained everything</p>
            to people. You can be sure you will manage to cook a delicious dish
            even if it is your first time in the kitchen!
            <p>
              Thank you so much for the masterclass! Looking forward to the next
              one and highly recommend it to everyone!
            </p>
          </div>
        </article>
      </li>
    </ul>

    <!-- Slider control -->

    <div class="pagination">
      <a href="#" class="pagination__previous">
        <svg width="35" height="17" class="pagination__icon-line">
          <use href="./images/symbol-defs.svg#icon-line"></use>
        </svg>
        <svg class="pagination__icon-prev" width="35" height="17">
          <use href="./images/symbol-defs.svg#icon-prev-hover"></use>
        </svg>
      </a>
      <p class="pagination__number">2/15</p>
      <a href="#" class="pagination__next">
        <svg class="pagination__icon-next">
          <use href="./images/symbol-defs.svg#icon-next-hover"></use>
        </svg>
        <svg width="35" height="17" class="pagination__icon-line">
          <use href="./images/symbol-defs.svg#icon-line"></use>
        </svg>
      </a>
    </div>
  </div>
  <img class="bg-bottom" srcset="
      ./images/background/bg-bottom-mob2x.png      640w,
      ./images/background/bg-bottom-tablet.png     940w,
      ./images/background/bg-bottom-desktop.png   1286w
    " sizes="(min-width: 1280px) 1286px, (min-width: 768px) 940px, (min-width: 320px) 324px"
    src="./images/background/bg-bottom-mob.png" alt="" />
</section>