<!-- Reviews -->

<section id="idReviews" class="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <ul class="reviews__list">
      <li class="reviews__item behind__first">
        <picture>
          <source media="(max-width: 767px)" srcset="
              ./images/reviews/daniil-onischenko-mobile.png    1x,
              ./images/reviews/daniil-onischenko-mobile@2x.png 2x
            " type="image/jpeg" />
          <source media="(max-width: 1279px)" srcset="
              ./images/reviews/daniil-onischenko-tablet.png    1x,
              ./images/reviews/daniil-onischenko-tablet@2x.png 2x
            " type="image/jpeg" />
          <source media="(min-width: 1280px)" srcset="
              ./images/reviews/daniil-onischenko.png    1x,
              ./images/reviews/daniil-onischenko@2x.png 2x
            " type="image/jpeg" />
          <img src="./images/reviews/daniil-onischenko-mobile.png" alt="Photo John" srcset="
              ./images/reviews/daniil-onischenko-mobile.png    1x,
              ./images/reviews/daniil-onischenko-mobile@2x.png 2x
            " class="reviews__photo" />
        </picture>
        <ul class="rating">
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-no-check" widht="24px" height="24px"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__label">John</h3>
        <!-- <article>
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article> -->
      </li>

      <li class="reviews__item facial">
        <picture>
          <source media="(max-width: 767px)" srcset="
              ./images/reviews/behrouz-sasani-mobile.png    1x,
              ./images/reviews/behrouz-sasani-mobile@2x.png 2x
            " type="image/jpeg" />
          <source media="(max-width: 1279px)" srcset="
              ./images/reviews/behrouz-sasani-tablet.png    1x,
              ./images/reviews/behrouz-sasani-tablet@2x.png 2x
            " type="image/jpeg" />
          <source media="(min-width: 1280px)" srcset="
              ./images/reviews/behrouz-sasani.png    1x,
              ./images/reviews/behrouz-sasani@2x.png 2x
            " type="image/jpeg" />
          <img src="./images/reviews/behrouz-sasani-mobile.png" alt="Photo Will" srcset="
              ./images/reviews/behrouz-sasani-mobile.png    1x,
              ./images/reviews/behrouz-sasani-mobile@2x.png 2x
            " class="reviews__photo facial" />
        </picture>
        <ul class="rating">
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__label">Will</h3>
        <article class="reviews__text">
          <p>Last time I have visited a cooking course by Eva</p>
          <p>I was impressed with the way she explained everything</p>
          to people. You can be sure you will manage to cook a delicious dish
          even if it is your first time in the kitchen!
          <p>
            Thank you so much for the masterclass! Looking forward to the next
            one and highly recommend it to everyone!
          </p>
        </article>
      </li>

      <li class="reviews__item behind__third">
        <picture>
          <source media="(max-width: 767px)" srcset="
              ./images/reviews/girl-mobile.png    1x,
              ./images/reviews/girl-mobile@2x.png 2x
            " type="image/jpeg" />
          <source media="(max-width: 1279px)" srcset="
              ./images/reviews/girl-tablet.png    1x,
              ./images/reviews/girl-tablet@2x.png 2x
            " type="image/jpeg" />
          <source media="(min-width: 1280px)" srcset="
              ./images/reviews/girl.png    1x,
              ./images/reviews/girl@2x.png 2x
            " type="image/jpeg" />
          <img src="./images/reviews/girl-mobile.png" alt="Photo Elisabeth" srcset="
              ./images/reviews/girl-mobile.png    1x,
              ./images/reviews/girl-mobile@2x.png 2x
            " class="reviews__photo" />
        </picture>
        <ul class="rating">
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
          <li class="rating__item">
            <svg class="rating__icon">
              <use href="./images/symbol-defs.svg#star-check" widht="24px" height="24px"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews__label">Elisabeth</h3>
        <!-- <article>
          Last time I have visited a cooking course by Eva I was impressed with
          the way she explained everything to people. You can be sure you will
          manage to cook a delicious dish even if it is your first time in the
          kitchen! Thank you so much for the masterclass! Looking forward to the
          next one and highly recommend it to everyone!
        </article> -->
      </li>
    </ul>

    <!-- Slider control -->

    <div class="pagination">
      <a href="#" class="pagination__previous">
        <svg width="35" height="17" class="pagination__icon-line">
          <use href="./images/symbol-defs.svg#icon-line"></use>
        </svg>
        <svg class="pagination__icon-prev" width="35" height="17">
          <use href="./images/symbol-defs.svg#icon-prev-hover"></use>
        </svg>
      </a>
      <p class="pagination__number">2/15</p>
      <a href="#" class="pagination__next">
        <svg class="pagination__icon-next">
          <use href="./images/symbol-defs.svg#icon-next-hover"></use>
        </svg>
        <svg width="35" height="17" class="pagination__icon-line">
          <use href="./images/symbol-defs.svg#icon-line"></use>
        </svg>
      </a>
    </div>
  </div>
  <!-- <img class="bg-botton" src="/src/images/bg-botton-mob.png" alt=""> -->

  <img class="bg-botton" srcset="./images/bg-botton-mob.png 113w,
    ./images/bg-botton-tablet.png 207w" src="./images/bg-botton-tablet.png" alt="">
</section>